/*------ GOOGLE FONT IMPORT ------*/

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

/*------ ROOT VARIABLES ------*/

:root {
  /* TYPOGRAPHY */
  --sen: "Sen", serif;
  --tenor: "Tenor Sans", sans-serif;

  /* COLOURS */

  /* purple colors */
  --black-purple: #2b1e25;
  --dark-purple: #603b61;
  --med-purple: #ae58af;
  --light-purple: #af6fab;
  --lighter-purple: #bf94bc;
  --lightest-purple: #d2b0d0;

  /* main colors */

  --off-white: #f5f5f5;
  --black: #000000;
}

/*------ CLEAN SLATE STYLES ------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*------ GENERIC STYLES ------*/

body {
  height: auto;
  min-width: 344px;
  display: flex;
  flex-direction: column;
  /* generic project styles */
  color: var(--black-purple);
  font-family: var(--sen);
  position: relative;
  overflow: scroll;
  
}

h1,
h2,
h3 {
  font-family: var(--tenor), sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--black-purple);
  opacity: 0.7;
}

/* general button style for nav buttons on index / confirm page */

.page-nav-btn {
  width: 100%;
  height: 100px;
  padding: 0;
  padding-top: 35px;
}

.page-nav-btn a {
  text-decoration: none;
  margin-top: 20px;
  padding: 15px 32px;
  border-radius: 2px;
  background-color: var(--dark-purple);
  color: #fafafa;
  font-size: 100%;
  transition-duration: 0.4s;
}

/* styling for all hr lines */

hr {
  border-top: 1px solid var(--black-purple);
  margin: 5px auto;
  width: 100%;
  text-align: center;
}

/* utility hide class */

.hidden {
  display: none;
}


/*------ HEADER STYLES ------*/

header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 2px var(--dark-purple);
  /* align items in a row */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 6px;
}

header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  transition: .3s;
}

#logo:hover {
  color:var(--light-purple)
}

#menu {
  font-size: 150%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
  transition: .3s;
}


#menu > li:hover {
  color:var(--light-purple);
}

.active {
  border-bottom: 1px solid var(--black-purple);
}

/* Navbar styles + dropdown toggle */

nav {
  position: absolute;
  background-color: var(--black-purple);
  color: var(--off-white);
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px var(--dark-purple);
  display: none;
  /* sets the top of the navbox to be bottom of the parent */
  top: 100%;
  padding-top: 20px;
  opacity: 0.85;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/*------ LANDING PAGE ------*/

main {
  /* Make main element take up any surplus space and push footer down */
  flex: 1 0 auto;
  margin-top: 40px;
  /* Flex properties for child elements */
  display: flex;
  flex-direction: column;
}

/* hero content */
#hero {
  height: 550px;
  width: 100%;
  background: url("../images/hero.webp") no-repeat center center/cover;
  position: relative;
}

/* hero cover text*/
#cover-text {
  background-color: var(--dark-purple);
  opacity: 0.8;
  font-size: 130%;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

#cover-text > h2 {
  color: var(--off-white);
  font-family: var(--tenor);
}

#cover-text > h3 {
  color: var(--off-white);
  font-family: var(--tenor);
  font-weight: 300;
}

/* Reasons Section */

#reasons {
  width: 85%;
  margin: 20px auto;
}

#reasons > h2 {
  font-size: 210%;
  margin-bottom: 20px;
  text-align: center;
}

#why-us {
  display: flex;
  flex-direction: column;
}

#why-us p, #your-best-self p {
  padding: 0 5px;
  text-align: center;
}

#why-us > h3 {
  color: var(--black-purple);
}

#why-revo {
  order:0;
}

#your-best-self {
  order: 1;
}

#why-revo div p,
#your-best-self div p {
  line-height: 20px;
  margin-bottom: 20px;
}

#why-revo div h3, #your-best-self div h3 {
  text-align: center;
}


#circle-cover-bg {
  height: 90vw;
  width: 90vw;
  border-radius: 50%;
  background: url("../images/ethos.webp") no-repeat center center/cover;
  position: relative;
  max-width: 200px;
  max-height: 200px;
}

#why-us-image {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#join {
  text-align: center;
}

#join-us hr {
  width: 80%;
}

#join-us p {
  width: 80%;
  margin: 1px auto 1px auto;

}


/*------ ACTIVITIES PAGE -------*/

/* hero bg image */
#activity-banner {
  position: relative;
  background: url("../images/activities.webp");
  background-size: cover;
  height: 120vh;
  background-position: 70%;
}

/* message of the day */
#motd-cover-text {
  display: block;
  background-color: var(--off-white);
  opacity: 80%;
  padding: 3% 7.5% 3% 7.5%;
  width: 95%;
  height: 90px;
  position: absolute;
  left: 2.5%;
  right: 2.5%;
  top: 10%;
  margin-top: -9px;
  align-items: center;
  box-shadow: 1px 1px 3px 1px var(--black-purple);
  z-index: 1;
}

#motd-cover-text h3{
  opacity: 100%;
  font-size: 110%;
  text-align: justify;
  font-weight: 300;
  line-height: 20px;
}

#motd-cover-text h2{
  opacity: 100%;
  font-size: 60%;
  line-height: 30px;
  text-align: right;
}

/*activity link (to yoga or meditation */

#activity-container {
  display: flex;
  position: absolute;
  top: 15%;
  margin-top: 20%;
  left: 50%;
  margin-left: -125px;
  flex-direction: column;
  z-index: 0;

}

.activity h2 {
  height: 40px;
  background-color: var(--off-white);
  margin-bottom: 5%;
  text-align: center;
  padding-top: 2%;

}

.activity img, .activity h2 {
  opacity: .85;

}

.activity img:hover {
  opacity: 1;
  transition: 0.3s;
  background-color: var(--black-purple);
}

/*------ YOGA / MEDITATION DESCRIPTION PAGE ------*/

.activity-description-li {
  padding-top: 15px;
}

#yoga-hero {
  background: url(../images/yoga2.webp) no-repeat center center/cover;
  height: 550px;
  width: 100%;
}

#meditation-hero {
  background: url(../images/meditation2.webp) no-repeat top center/cover;
  height: 550px;
  width: 100%;
}

.description-title {
  background-color: var(--dark-purple);
  opacity: 0.85;
  font-size: 130%;
  position: relative;
  bottom: 1;
  width: 100%;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.description-title > h2 {
  color: var(--off-white);
  font-family: var(--sen);
  font-size: 200%;
  padding-top: 5px;
  padding-left: 5%;
}

.description-text {
  padding: 2em;
  font-size: 90%;
}

.description-text ul  {
  list-style: none;
}

#circle-cover-bg-breathing {
  display: flex;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  background: url("../images/properbreathing.webp") no-repeat center center/cover;
  position: relative;
  max-width: 300px;
  max-height: 300px;
}

#yoga-proper-breathing-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#circle-cover-bg-trataka {
  display: flex;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  background: url("../images/candle.webp") no-repeat center center/cover;
  position: relative;
  max-width: 300px;
  max-height: 300px;
}

#yoga-trataka-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------ SIGNUP PAGE -------*/

#signup {

  position: relative;
  background: url("../images/signup.webp");
  height: 100vh;
  padding: 20px 10% 0 10%;
  flex-grow: 1;
}

#signup-form {
  position: absolute;
  top: 50%;
  margin-top: -203px;
  right: 7.5%;
  width: 85%;
  color: #ffffff;
  background-color: rgba(60,60,60, 0.6);
  padding: 20px;
  line-height: 20px;
}

::placeholder {
  color:white;
  opacity: 0.6;
}

#signup-form h2 {
  opacity: 1;
  color: white;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: white;
  border: 1px solid #fafafa;
  border-radius: 2px;
  height: 25px;
  width: 100%;
  padding: 0 5px;
  margin: 5px 0 20px 0;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.radio-buttons div {
  padding-right: 10px;
}

.join-button {
  margin-top: 20px;
  padding: 15px 32px;
  border-radius: 2px;
  background-color: var(--dark-purple);
  color: #fafafa;
  font-size: 100%;
  transition-duration: 0.4s;
}
.text-input:hover {
  border-color: var(--lighter-purple);
}

.join-button:hover {
  background-color: var(--lightest-purple);
  color: var(--black-purple);
}

/*------ CONFIRM PAGE ------*/

#confirmation {
  height: 100vh;
  background: url("../images/yoga3.webp") no-repeat center center/cover;
}

#thank-you-container {
  position: relative;
  margin: auto;
  top: 40%;
  margin-top: -60px;
  width: 90%;
  background-color: rgba(60,60,60, 0.6);
  padding: 20px;
  text-align: center;
  color: white;
}


#thank-you-container > p {
  line-height: 25px;
  font-size: 120%;
 
}

#thank-you-container > h3 {
  line-height: 50px;
  font-size: 200%;
  color: white;
}

.page-nav-btn a:hover {
  background-color: var(--lightest-purple);
  color: var(--black-purple);
}

/*------ FOOTER STYLES ------*/

#footer-container {
  padding: 2.5% 0;
  height: 8vh;
  display: flex;
  position: relative;
  bottom: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
  box-shadow: 0px -2px 0 0 var(--dark-purple);
}

#social-networks {
  display: inherit;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}


#social-networks li {
  font-size: 160%;
  padding-top: 1%;
}

#social-networks li a {
  color: var(--black-purple);
}

/*------ MEDIA QUERY LARGER PHONES 390 + ------*/
@media screen and (min-width: 390px) {
  #signup-form {
    top: 50%;
  }
}


/* Media Query: Tablets and larger (768px+) */
@media screen and (min-width: 768px) {
  /* header */
  header {
    height: 79px;
    
  }

  nav {
    display: flex;
    position: relative;
    top: auto;
    bottom: 10px;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    color: var(--black-purple);
    background-color: transparent;
    padding-top: 0%;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 79px;
  }

  /* Reasons Section */
  #why-revo,
  #your-best-self {
    display: flex;
  }

  #why-revo > div,
  #your-best-self > div {
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #your-best-self > div {
    text-align: center;
    align-self: flex-end;
  }

  /* activity styling */

  #motd-cover-text {
    height: 180px;
  }

  #motd-cover-text h3{
    font-size: 43px;
    font-weight: 300;
    line-height: 50px;
  }

  #motd-cover-text h2{
    font-size: 100%;
    line-height: 40px;
  }

  /*activity link (to yoga or meditation */

  #activity-container {
    flex-direction: row;
    left: 50%;
    margin-left: -340px;
  }
  
  .activity img {
    width: 300px;
  }

  .activity {
    padding: 20px;
  }

  .activity h2 {
    height: 60px;
    font-size: 160%;
    background-color: var(--off-white);
    margin-top: 5%;
    text-align: center;
    padding-top: 5%;  
  }
  /* yoga / meditation description style */

  .description-text {
    padding: 2em;
    font-size: 130%;
  }
  
  /* Signup changes */
  #signup {
    position: relative;
    background: url("../images/signup.webp") no-repeat left center/cover;
    background-position: 90%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
  }

  #signup-form {
    max-width: 400px;
    position: absolute;
    right: 5%;
    top: 50%;
  }

  .radio-buttons div {
    font-size: 20px;
    padding-right: 15px;
  }
  
}

/*------ MEDIA QUERY BIGGER TABLET ------*/
@media screen and (min-width: 850px) {
  #menu a:hover {
    border-bottom: 1px solid var(--black-purple);
  }

  #motd-cover-text {
    display: block;
    background-color: var(--off-white);
    opacity: 80%;
    padding: 3% 5% 3% 5%;
    width: 90%;
    height: 180px;
    
  }

  #motd-cover-text h3{
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: right;
  }

  #motd-cover-text h2{
    font-size: 100%;
    line-height: 40px;
  }

  #footer-container {
    padding-top: 1%;
  }

  #social-networks li {
    font-size: 200%;

  }

}

/*------ MEDIA QUERY DESKTOP 1280 + ------*/

@media screen and (min-width: 1500px) {

  /* Reasons Section */
  #reasons > h2 {
    font-size: 300%;
  }

  #why-us {
    display: flex;
    text-align: center;
    margin: 30px;
    width: 95%;
  }

 
  #why-us #why-revo h3, #why-us #your-best-self h3 {
    font-size: 150%;
  } 

  #why-us #why-revo p, #why-us #your-best-self p {
    font-size: 150%;
    line-height:26px;
    
  }

  #circle-cover-bg {
    margin: 20px;
    border-radius: 50%;
    background: url("../images/ethos.webp") no-repeat center center/cover;
    position: relative;
    max-width: 250px;
    max-height: 250px;
  }


  #why-us-image {
    width: 290px;

  }

  #your-best-self {
    order: 1;
    line-height: 0px;
  }

  #join-us h3 {
    font-size: 150%;
  }

  #join-us hr {
    width: 45%;
  }
  
  #join-us p {
    width: 80%;
    margin: 1px auto 1px auto;
  
  }

  /* activity styling */

  #motd-cover-text {
    display: block;
    background-color: var(--off-white);
    opacity: 80%;
    margin-left: 10%;
    padding: 3% 5% 3% 5%;
    width: 85%;
    height: 180px;
    
  }

  #motd-cover-text h3{
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    text-align: right;
  }

  #motd-cover-text h2{
    font-size: 100%;
    line-height: 40px;
  }

  /*activity link (to yoga or meditation */

  #activity-container {
    flex-direction: row;
    top: 5%;
    left: 70%;
    margin-left: -340px;
  }
  
  .activity img {
    width: 300px;
  }

  .activity {
    padding: 20px;
  }

  .activity h2 {
    height: 60px;
    font-size: 160%;
    background-color: var(--off-white);
    margin-top: 5%;
    text-align: center;
    padding-top: 5%;  
  }

  /* yoga / meditation description style */

  .description-text {
    padding: 2em;
    font-size: 130%;
  }
  

  /* yoga / meditation page styling */

  .activity-description {
    display: flex;
  }

  .description-title {
    height: 100px;
  }

  .description-title > h2 {
    color: var(--off-white);
    font-family: var(--sen);
    font-size: 300%;
    padding-left: 5%;
    width: 60%;
  }
  
  .description-text {
    padding: 2em;
    font-size: 130%;
    width: 60%;
    order:0;
  }
  
  .description-text ul  {
    list-style: none;
  }

  #circle-cover-bg-breathing {
    display: flex;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    background: url("../images/properbreathing.webp") no-repeat center center/cover;
    position: relative;
    max-width: 500px;
    max-height: 500px;
  }
  
  #yoga-proper-breathing-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #circle-cover-bg-trataka {
    display: flex;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    background: url("../images/candle.webp") no-repeat center center/cover;
    position: relative;
    max-width: 500px;
    max-height: 500px;
  }
  
  #yoga-trataka-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Signup Section */
  #signup {
    position: relative;
    background: url("../images/signup.webp") no-repeat left center/cover;
    background-position: 110%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
  }

  #signup-form {
    width: 500px;
    height: 430px;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -215px;
  }

  .text-input {
    background: transparent;
    color: var(--lightest-purple);
    border: 1px solid #fafafa;
    border-radius: 2px;
    height: 25px;
    width: 100%;
    padding: 0 5px;
    margin: 5px 0 20px 0;
  }

  .radio-buttons div {
    font-size: 20px;
    padding-right: 15px;
  }
  

  .join-button {
    width: 250px;
    height: 70px;
    margin-top: 30px;
    padding: 15px 32px;
    border-radius: 2px;
    color: #fafafa;
    font-size: 100%;
  }

  #footer-container {
    padding-top: 0%;
    height:50px;
  }

  #social-networks li {
    font-size: 200%;

  }

}
