/*  Google font import */
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* root variabls for use */

:root {
  /* TYPOGRAPHY */
  --sen: "Sen", serif;
  --oswald: "Oswald", sans-serif;

  /* COLOURS */

  /* For the various colors i opted to load all the colors we have from the pallettes in, while some will go unused it's good to have them all loaded for future testing or changes */

  /* purple colors */
  --black-purple: #2b1e25;
  --dark-purple: #603b61;
  --med-purple: #ae58af;
  --light-purple: #af6fab;
  --lighter-purple: #bf94bc;
  --lightest-purple: #d2b0d0;

  /* green colors */

  --dark-green: #99bc85;
  --light-green: #bfd8af;
  --lighter-green: #d4e7c5;
  --lightest-green: #e1f0da;

  /* main colors */
  --off-white: #f5f5f5;
  --black: #000000;
}

/* Removes all margins & Padding on everything so they can be fully customised */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
